@page "/DeleteAction/{Id:int}"
@using GraphQLClientKursovayaa.DataAccess
@using GraphQLClientKursovayaa.DataAccess.Model

@inject NavigationManager NavigationManager
<h3>Удаление действия</h3>
@if (actionModel.Title == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h2>@actionModel.Title</h2>

    <div>
        <div>
            Описание:<span style="font-size:large">@actionModel.Description</span>
            <br />
        </div>

        <div>
            Стоимость: <span style="font-size:large">@actionModel.Cost</span>
            <br />
        </div>

        <div>
            Завершено: <span style="font-size:large">@actionModel.IsCompleted</span>
            <br />
        </div>

        <div>
            <span class="alert-danger">Вы действительно удалить @actionModel.Title?</span>
            <br />
        </div>
        <div>
            <button class="btn btn-primary" @onclick="Delete">Да</button>
            <button class="btn btn-secondary" @onclick="Back">Нет</button>
        </div>
    </div>
}
@code {
    [Parameter]
    public int? Id { get; set; }
    private DataAccess.Model.Action actionModel = new DataAccess.Model.Action();
    protected override async Task OnInitializedAsync()
    {
        string completeQuery = "query{actionById(id:" + Id + "){actionId,title,description,cost,isCompleted}}";
        string qraphQLQueryType = "actionById";
        var result = await Query.ExceuteQueryAsyn<DataAccess.Model.Action>(qraphQLQueryType, completeQuery);
        if (result == null)
        {
            NavigationManager.NavigateTo($"ActionView");
        }
        actionModel = result!;
    }
    private void Back()
    {
        NavigationManager.NavigateTo($"ActionView");
    }
    private async Task Delete()
    {
        try
        {
            string query = $"mutation{{deleteAction(id:{Id})}}";
            string graphQLQueryType = "deleteAction";

            _ = await Mutation.ExceuteMutationAsyn<object>(graphQLQueryType, query);

            NavigationManager.NavigateTo("ActionView", forceLoad: true);
        }
        catch (Exception)
        {
            throw;
        }
    }
}
