@page "/DeleteClient/{Id:int}"
@using GraphQLClientKursovayaa.DataAccess
@using GraphQLClientKursovayaa.DataAccess.Model

@inject NavigationManager NavigationManager
<h3>Удаление клиента</h3>
@if (clientModel.Name == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h2>@clientModel.Name</h2>

    <div>
        <div>
            Телефон:<span style="font-size:large">@clientModel.Phone</span>
            <br />
        </div>

        <div>
            Email: <span style="font-size:large">@clientModel.Email</span>
            <br />
        </div>

        <div>
            Адрес: <span style="font-size:large">@clientModel.Address</span>
            <br />
        </div>

        <div>
            <span class="alert-danger">Вы действительно удалить @clientModel.Name?</span>
            <br />
        </div>
        <div>
            <button class="btn btn-primary" @onclick="Delete">Да</button>
            <button class="btn btn-secondary" @onclick="Back">Нет</button>
        </div>
    </div>
}
@code {
    [Parameter]
    public int? Id { get; set; }
    private Client clientModel = new Client();
    protected override async Task OnInitializedAsync()
    {
        string completeQuery = "query{clientById(id:" + Id + "){clientId,name,phone,email,address}}";
        string qraphQLQueryType = "clientById";
        var result = await Query.ExceuteQueryAsyn<Client>(qraphQLQueryType, completeQuery);
        if (result == null)
        {
            NavigationManager.NavigateTo($"ClientView");
        }
        clientModel = result!;
    }
    private void Back()
    {
        NavigationManager.NavigateTo($"ClientView");
    }
    private async Task Delete()
    {
        try
        {
            string query = "mutation{deleteClient(id:" + Id + ")}";
            string graphQLQueryType = "deleteClient";

            _ = await Mutation.ExceuteMutationAsyn<object>(graphQLQueryType, query);

            NavigationManager.NavigateTo("ClientView", forceLoad: true);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Delete error: {ex.Message}");
            NavigationManager.NavigateTo("ClientView", forceLoad: true);
        }
    }

}
